* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/21/22/00/window-8332729_1280.jpg")
}

.to-do {
    margin-top: 40px;
    width: 60%;
}

.insert {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 5px 10px 0px grey;
    align-items: center;
    width: 100%;
}

.textInsert {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
    flex: 1;
}

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.bx-plus {
    font-size: 30px;
    margin-left: 10px;
    background-color: rgb(139, 14, 223);
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.task-list {
    list-style-type: none; 
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 6px 5px 10px 0px grey;
    width: 100%;
}

.task-item i {
    cursor: pointer;
    color: brown;
}

.no-tasks {
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0px grey;
    color: dimgray;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.text{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Calligraffitti", cursive;
}